*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(216, 212, 212);
}
header{
    background-image: url(./imagenes/Logo.JPG);
    height: 35rem;
    background-size: cover;
    margin-bottom: 50px;}


nav{
    background-color: aquamarine;
    text-align: center;
    margin-bottom: 25px;
    height: 2rem;
}

Main{
    border: red 5px solid;
    border-radius: 5px;
    text-align: center;
}
h1{
    color: red;
    background-color: black;
    border: 5px red hidden;
    margin-top: 0px;
}
.Prodnuevos{
    margin-top: 25px;
    border: red 5px solid;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px ;
}
h2{
    color: red;
    background-color: black;
    border: 5px red hidden;
    margin-top: 0px;
}
div{
    background-color: gray;
    border:black 5px solid;
    color:black;
    text-decoration: dotted;
    text-align: center;
    border-radius: 15px;
    height:25px ;

}
h3{
    background-color: black;
    color: red;
}
.Novedades{
    margin-top: 25px;
    margin-bottom: 25px;
    border: red 5px solid;
    border-radius: 5px;
    text-align: center;
}
.flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}
.Img2{
    width: 500px;
    height: 300px;
    margin:5px;


}
.flexbox2{
    display:flex;
    flex-flow: row wrap;
justify-content: center;

}

.Link2{
    color: red;
    text-align: center;
    border: 5px black solid;}

h4{ 
    margin-top: 50px;
    margin-bottom: 2px;
    color:red;
    text-align: center;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    border-radius: 30;
    width: 10%;
    height: 10%;
    background-color: rgb(65, 73, 73);
    padding: 2px;
    box-shadow: 2px 2px 2px 2px;

    animation-name: animacion1;
    animation-duration: 1.5s;
    animation-delay: 1s;

    animation-timing-function: ease;
    animation-iteration-count: infinite;

}
@keyframes animacion1 {
    0% { background-color: rgb(196, 248, 255); left:100px; top: 0px}
    25%{background-color: rgb(40, 128, 91); left:200px; top: 0px}
    50%{background-color: rgb(102, 136, 78); left:500px; top: 0px}
    75%{background-color: rgb(40, 128, 77); left:700px; top: 0px}
    100%{background-color: rgb(58, 128, 40); left:1000px; top: 0px}
}
.link3{
    color: rgb(17, 13, 13);
    text-align: center;
    border: 5px rgb(20, 10, 10) solid;
    animation-name: animación1;

}


footer{
    margin-top: 25px;
    background-color: rgb(44, 40, 40);
    text-align: center;
    color:red;
    height: 10rem;
}